<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>02_exercices</display-name>

<!-- Déclaration du listener pour pouvoir charger le contexte de Spring 
		IoC -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spécifier le chemin du fichier de config de Spring IoC -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application-context.xml</param-value>
	</context-param>

	<!-- Déclaration de la servlet unique de JAX-RS/Jersey -->
	<servlet>
		<servlet-name>jerseyServlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

		<!-- Spécifier les packages contenant les classes annotées par @Path afin 
			que le conteneur Web puisse les instancier -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>fr.adaming.rest</param-value>
		</init-param>
	</servlet>



	<!-- Le mapping de la servlet unique de JAX-RS/Jersey -->
	<servlet-mapping>
		<servlet-name>jerseyServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>