<nav class="navbar navbar">
	<ul class="nav nav-pills">
		<li role="presentation"><div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">
					<span class="glyphicon glyphicon-plus"></span> Ajouter un compte <span
						class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="ajout_compte.jsp?pTypeCompte=compteCourant">Compte
							courant</a></li>
					<li><a href="ajout_compte.jsp?pTypeCompte=compteEpargne">Compte
							épargne</a></li>
				</ul>
			</div></li>
		<li role="presentation"><div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">
					<span class="glyphicon glyphicon-pencil"></span> Modifier un compte
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="modif_compte.jsp?pTypeCompte=compteCourant">Compte
							courant</a></li>
					<li><a href="modif_compte.jsp?pTypeCompte=compteEpargne">Compte
							épargne</a></li>
				</ul>
			</div></li>
		<li role="presentation"><div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">
					<span class="glyphicon glyphicon-minus"></span> Supprimer un compte
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="suppression_compte.jsp?pTypeCompte=compteCourant">Compte
							courant</a></li>
					<li><a href="suppression_compte.jsp?pTypeCompte=compteEpargne">Compte
							épargne</a></li>
				</ul>
			</div></li>
		<li role="presentation"><div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">
					<span class="glyphicon glyphicon-search"></span> Rechercher un
					compte <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="recherche_compte.jsp?pTypeCompte=compteCourant">Compte
							courant</a></li>
					<li><a href="recherche_compte.jsp?pTypeCompte=compteEpargne">Compte
							épargne</a></li>
				</ul>
			</div></li>
		<li role="presentation"><a href="auth"><span
				class="glyphicon glyphicon-inbox"></span> Accueil </a></li>
		<li role="presentation"><a href="modif_info.jsp"><span
				class="glyphicon glyphicon-pencil"></span> Mettre à jour mes
				informations </a></li>
		<li role="presentation"><a href="logout"><span
				class="glyphicon glyphicon-off"></span> Me déconnecter </a></li>

	</ul>
</nav>

<!-- <div class="dropdown"> -->
<!-- 	<button class="btn btn-default dropdown-toggle" type="button" -->
<!-- 		id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" -->
<!-- 		aria-expanded="true"> -->
<!-- 		<span class="glyphicon glyphicon-inbox"></span> Accueil <span -->
<!-- 			class="caret"></span> -->
<!-- 	</button> -->
<!-- 	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1"> -->
<!-- 		<li><a href="auth">Accueil</a></li> -->
<!-- 		<li><a href="#">Another action</a></li> -->
<!-- 		<li><a href="#">Something else here</a></li> -->
<!-- 		<li role="separator" class="divider"></li> -->
<!-- 		<li><a href="#">Separated link</a></li> -->
<!-- 	</ul> -->
<!-- </div> -->


