<div id="footer">

	<div id="c">
		<div id="zone1">
			<div id="logoF">
				<img style="width: 120px; height: 100px;"
					src="./assets/images/7.png" class="img-responsive"
					alt="Responsive image">
				<div id="rs"><h3>SUIVEZ-NOUS</h3>
				<a href="https://www.marmiton.org/recettes/recette_chouquettes_30622.aspx" title="Suivez notre page Pinterest" target="blank" ><img src="./assets/images/pinterest.jpg">  </a>
				<a href="https://www.marmiton.org/recettes/recette_chouquettes_30622.aspx" title="Suivez notre page Instagram" target="blank" ><img src="./assets/images/Instagram.jpg">  </a>
				</div>
				

			</div>
		</div>

		<div id="zone2">
			<h3>NOUS CONTACTER</h3>
			<div class="adresse">
				<p>
					<span>8 rue de la Gourmandise</span> <span>35000</span> <span>Rennes</span>
				</p>
			</div>
			<div class="mail">
				<p>
					<a href="mailto:marion.baud09@gmail.com">maboulangerie@gmail.com</a>
				</p>
			</div>
			<div class="telephone">
				<a href="tel:06 70 68 40 87" title="Appeler Boulangerie">02 97
					34 56 89</a>
			</div>
		</div>


		<div id="zone3">
			<h3>HORAIRE D'OUVERTURE</h3>
			<div class="horaires">
				<span>Du mardi au samedi de 7h30 à 19h30 <br> 7h30 à 19h
					pour les samedis de Juillet
				</span>
			</div>

		</div>
	</div>



















</div>