<div id="header" class="container-fluid">


	<div id="co">
		<div id="nomEn">
			<h1>
				<a style="font-size: 40px; color: #5C3A1A;"
					href="${pageContext.request.contextPath}/welcome"><i>CHOUQUETTE
						BOULANGERIE </i> </a>
			</h1>


			<br>
		</div>

		<div id="logo">
			<img style="width: 120px; height: 100px;" src="./assets/images/7.png"
				class="img-responsive" alt="Responsive image">


		</div>



		<div id="navH" style="">
			<nav class="menu-main">
				<ul>

					<li><a style="font-size: 17px;"
						href="<c:url value='/client/displayEspClient'/>"><i>Espace
								Client</i> </a></li>
					<li><a style="font-size: 17px;"
						href="<c:url value='/admin/displayAdmin'/>"><i>Espace
								Admin</i> </a></li>
					<li><a style="font-size: 17px;"
						href="<c:url value='/creationEntites'/>"><i>Créer les
								entités</i> </a></li>

				</ul>
			</nav>



			<br>
		</div>
	</div>

</div>