<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<display-name>08_Spring_security_intro</display-name>

	<!-- Déclaration de la servlet unique de Spring MVC -->
	<servlet>
		<servlet-name>unique</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!-- Spécifier le chemin du fichier config de Spring MVC -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-context.xml</param-value>
		</init-param>
	</servlet>

	<!-- Le mapping de la servlet unique de Spring MVC -->
	<servlet-mapping>
		<servlet-name>unique</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Déclaration de la page de mon projet -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>