/* Le style de mon site */
/* Le style appliqué dans la balise body */
body {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #cdd0d1;
}

header {
  background-color: #554538;
  color: #443228;
  font-size: 16px;
  border-bottom: solid #e9e0cb 3px;
  padding-top: 30px;
  min-height: 70px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Le style à appliquer à toutes les balises nav qui se trouvent à
l'intérieur de header */
header nav {
  margin: 10px;
  float: right;
}

#nom {
  float: left;
  margin-left: 50px;
  margin-top: 0px;
  color: #d4d4d6;
}

header ul {
  margin: 0px;
  padding: 0px;
}

header li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

a {
  color: #c6af97;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #e49400;
}

ul{
  list-style-type: square;
}

#button2:hover {
  background-color: #e49400;
}

/* On passe au style de la section intro */

#idIntro {
  min-height: 200px;
  text-align: center;
  color: black;
  background: url(../img/cuisine.webp) no-repeat;
  background-size: cover;
}

#idIntro h1 {
  font-size: 100px;
  color: #cfccbf;
  text-shadow: 10px 10px 3px #000000;
}

/* Le style appliqué à la section notification */
#notif {
  color: #ffffff;
  background-color: #625343;
}

#notif h1 {
  float: right;
  margin-right: 30px;
}

h1 + form {
  /* Tous les forms qui viennnent juste après un h1 */
  float: right;
  margin-top: 17px;
}

/* Appliquer le style pour les boutons */

#button2 {
  height: 33px;
  background-color: #897f77;
  border: 3px;
  border-style: solid;
  border-color: #362f22;
  padding-left: 20;
  color: white;
  font-weight: bold;
}

/* Le style appliqué à la section service */
#service {
  margin-top: 20px;
}

.box2 {
  text-align: justify;
  width: 45%;
  padding: 10px;
  float: left;
}

.box2 img {
  display: block;
  margin: 0px auto;
  max-height: 150px;
  max-width: 100%;
}

.box2 h3 {
  margin: 0px;
  padding: 0px;
  border-bottom: 3px solid black;
}

.box3 {
  text-align: justify;
  width: 30%;
  padding: 10px;
  float: left;
}

.box3 img {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  max-height: 150px;
}

.box3 h3 {
  margin: 0px;
  padding: 0px;
  border-bottom: 3px solid black;
}

/* Le style appliqué à la section footer */

footer {
  padding: 5px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #362f22;
  text-align: center;
}

#barre {
  position: relative;
  width: auto;
  min-height: 70px;
}

#animation {
  position: absolute;
  overflow: hidden;
}
