<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>02_HttpServletRequest</display-name>

	<!-- 1. Déclaration de la servlet MaMservlet pour que le serveur puisse 
		l'instancier -->
	<!-- Cette balise remplace l'annotation @WebServlet -->
	<servlet>
		<!-- Donner un alias à ma servlet -->
		<servlet-name>fofo</servlet-name>

		<!-- Spécifier le nom complet de la classe MaServlet -->
		<servlet-class>fr.adaming.controllers.MaServlet</servlet-class>
	</servlet>

	<!-- 2. Le mapping de la servlet : Définir les URLs qui correspondent à 
		ma servlet -->
	<servlet-mapping>
		<!-- Utiliser l'alias de la servlet concernée -->
		<servlet-name>fofo</servlet-name>

		<!-- Définir les urlPatterns de ma servlet -->
		<url-pattern>/serv</url-pattern>
	</servlet-mapping>

</web-app>