<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
    <!-- 1- Définir les infos de la connexion à la BD -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_hibernate?createDatabaseIfNotExist=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

		<!-- 2- Définir les props de hibernate -->
		<!-- Spécifier la stratégie de création des tables -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Afficher les requêtes SQL -->
		<property name="hibernate.show_sql">true</property>
		
		<!-- Définir le dialecte hibernate -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- 3- Énumérer toutes les classes persistantes -->
		<mapping class="fr.adaming.entities.Employe"/>
	</session-factory>
</hibernate-configuration>
