<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>08_TP_JSP_Servlet</display-name>
  <!-- Définir les pages de lancement de mon projet -->
  <welcome-file-list>
<welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>